<template>
    <table class="table table-bordered table-striped" id="table-author">
        <thead>
            <tr>
                <th>No</th><th>Author</th><th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(author, index) in authorRows"  >
                <td>{{ index+1 }}</td>
                <td>{{ author.name }}</td>
                <td><a v-on:click="removeElement(index);" class="btn btn-danger">Remove</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td>
                    <select v-model="selectAuthor" class="form-control">
                        <option v-for="author in authors" v-bind:value="{ id: author.id, name: author.name }">{{ author.name }}</option>
                    </select>
                </td>
                <td>
                    <a class="btn btn-primary" @click="addAuthor">Add</a>
                </td>
            </tr>
        </tfoot>
    </table>
</template>
<script>
export default{
    props: {
        book_id: Number,
        bookAuthors: Object
    },
    data: function(){
        return {
            authors: [],
            authorRows: [],
            selectAuthor: [],
            selectBookAuthor: []
        }
    },
    methods: {
        getAuthors(){
            var app = this;
            axios.get('author/all')
                 .then(function(resp){
                    app.authors = resp.data;
                })
                .catch(function(resp){
                    console.log('get authors error : '+resp);
                });
        },
        getBookAuthors(){

        },
        addAuthor: function() {
                    var elem = document.createElement('tr');
                    this.authorRows.push({
                        id: this.selectAuthor.id,
                        name: this.selectAuthor.name
                    });
                    console.log(this.selectAuthor.id);
                    this.$emit('addAuthor', this.authorRows);
                },
        removeElement: function(index) {
                this.authorRows.splice(index, 1);
        },
    },
    created: function(){

    },
    mounted: function(){
        this.getAuthors();        
    }
}
</script>