<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-header">Home</div>
            <div class="card-body">
                <h1>Hello World.</h1>
            </div>
        </div>
    </div>
</template>