<template>
    <div class="container">
        <ol class="breadcrumb">
            <li><router-link :to="{name: 'book'}" >Book</router-link></li>
            <li v-if="null == book.id" class="active" >&nbsp;&nbsp;/ Create Book</li>    
            <li v-else class="active" >&nbsp;&nbsp;/ Edit Book</li>
        </ol>        
        <div class="card card-default">
            <div v-if="null == book.id" class="card-header">New Book</div>
            <div v-else class="card-header">Edit Book</div>
            <div class="card-body">    
                <book-form v-bind:id="this.book.id"></book-form>            
            </div>
        </div>
    </div>
    </div>    
</template>
<script>
import BookForm from './BookForm';

    export default {
        data: function () {
            return {
                errors: [],
                url : window.location.origin + window.location.pathname,
                book: {
                    id: null,
                    title: '',
                    category_id: '',
                    author: '',
                    description: '',
                },
                message : '',
            }
        },
        methods: {
            getData: function(){
                var app = this;
                let id = app.$route.params.id;
                app.bookId = id;
                axios.get('book/' + id)
                     .then(function (resp) {
                        app.book = resp.data;
                        app.authorRows = app.book.authors;
                     })
                     .catch(function () {
                         
                    });
            }
        },
        created(){
            this.book.id = this.$route.params.id;            
        },
        mounted: function(){      
        },
        components:{
            'book-form': BookForm
        }
    }
</script>
