<template>
    <div class="container">
        <ol class="breadcrumb">
            <li><router-link :to="{name: 'book'}" >Book</router-link></li>
            <li class="active" >&nbsp;&nbsp;/ Create Book</li>    
        </ol>        
        <div class="card card-default">
            <div class="card-header">New Book</div>
            <div class="card-body">
                <form v-on:submit.prevent="saveForm()" class="form-horizontal"> 
                    <div class="form-group">
                        <label for="title" class="col-md-2 control-label">Title</label>
                        <div class="col-md-8">
                            <input class="form-control" required autocomplete="off" placeholder="Title" type="text" v-model="book.title" name="title"  autofocus="">
                            <span v-if="errors.name" class="label label-danger">{{ errors.name[0] }}</span>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="category_id" class="col-md-2 control-label">Category</label>
                        <div class="col-md-8">
                            <select name="category_id" v-model="book.category_id" class="form-control">
                                <option v-for="cat in categories" v-bind:value="cat.id">{{ cat.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="author" class="col-md-2 control-label">Author</label>
                        <div class="col-md-8">
                            <table class="table table-bordered table-striped" id="table-author">
                                <thead>
                                    <tr>
                                        <th>No</th><th>Author</th><th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(author, index) in authorRows"  >
                                        <td>{{ index+1 }}</td>
                                        <td>{{ author.name }}</td>
                                        <td><a v-on:click="removeElement(index);" class="btn btn-danger">Remove</a></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <select v-model="selectAuthor" class="form-control">
                                                <option v-for="author in authors" v-bind:value="{ id: author.id, name: author.name }">{{ author.name }}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" @click="addAuthor">Add</a>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-md-2 control-label">Description</label>
                        <div class="col-md-8">
                            <textarea class="form-control" v-model="book.description"> 
                            </textarea>
                            <span v-if="errors.description" class="label label-danger">{{ errors.description[0] }}</span>                            
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            <button class="btn btn-primary" id="btnSaveBook" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                errors: [],
                categories: [],
                authorRows: [],
                authors: [],
                selectAuthor: [],
                selectCategory:'',
                url : window.location.origin + window.location.pathname,
                book: {
                    title: '',
                    category_id: '',
                    author: '',
                    description: '',
                },
                message : '',
            }
        },
        methods: {
            saveForm() {
                var app = this;
                var newBook = this.book;
                newBook.author = app.authorRows;
                console.log(this.book.author);
                axios.post('book/create', newBook)
                     .then(function (resp) {
                        app.$router.push({name: 'book'});
                    })
                    .catch(function (resp) {
                    });
            },
            getCategories(){
                var app = this;
                axios.get('category/all')
                     .then(function(resp){
                         app.categories = resp.data;
                         console.log(resp);
                     })
                     .catch(function(resp){
                         console.log('get categories error : '+resp);
                     });
            },
            getAuthors(){
                var app = this;
                axios.get('author/all')
                     .then(function(resp){
                         app.authors = resp.data;
                         console.log(resp);
                     })
                     .catch(function(resp){
                         console.log('get authors error : '+resp);
                     });
            },
            alert(msg) {
            
            },
            addAuthor: function() {
                    var elem = document.createElement('tr');

                    this.authorRows.push({
                        id: this.selectAuthor.id,
                        name: this.selectAuthor.name
                    });
                },
            removeElement: function(index) {
                    this.authorRows.splice(index, 1);
            },
        },
        mounted: function(){
            this.getCategories();
            this.getAuthors();
        }
    }
</script>
