<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-header">Book</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <a><router-link :to="{name: 'bookCreate'}" type="button" class="btn btn-primary" v-bind:id="'create'">
                            Create
                        </router-link></a>
                    </div>
                    <div class="col-lg-4 offset-lg-5 mb-5 input-group">
                        <input type="text" class="form-control" placeholder="search keyword.." v-model="search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2" @click='allBooks("book")'>Search</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>No.</th><th>Title</th><th>Category</th><th>Author</th><th>Description</th><th>#</th>
                            </tr>                            
                        </thead>
                        <tbody>
                            <tr v-for='(book, index) in books.data'>
                                <td>{{ books.from+index }}.</td>
                                <td>{{ book.title }}</td>
                                <td>{{ book.category.name }}</td>
                                <td><template v-for='(author, indexAuthor) in book.authors'>
                                    {{ author.name }} <template v-if="(book.authors.length >1) && ((indexAuthor) < book.authors.length-1)">,</template>
                                    </template></td>
                                <td>{{ book.description }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <router-link :to="{name: 'bookEdit', params: {id: book.id}}" type="button" class="btn btn-warning" v-bind:id="'edit-' + book.id" >
                                            Edit
                                        </router-link>
                                        <button v-bind:id="'delete-' + book.id" v-on:click="deleteBook(book.id, index,book.title)" type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </td>
                            </tr>                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <ul class="pagination">
			                            <li v-if="books.prev_page_url">
				                            <a @click.prevent="allBooks(books.prev_page_url)" :href="books.prev_page_url" class="btn btn-default">&laquo; Previous</a>
			                            </li>
			                            <li v-if="books.next_page_url">
				                            <a @click.prevent="allBooks(books.next_page_url)" :href="books.next_page_url" class="btn btn-default">Next &raquo;</a>
			                            </li>
		                            </ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            this.allBooks('book');
        },
        data() {
            return{
                books: [],
                bookId: 0,
                search: ''
            }
        },
        methods: {
            allBooks: function(url){
                if('' != this.search){
                    if(url.indexOf("?") < 0)
                        url += "?";

                    url += '&title='+this.search+'&category_name='+this.search+'&author_name='+this.search;
                }                    

                axios.get(url)
                    .then(response => {
                        this.books = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            bookById: function(){

            },
            deleteBook: function(id, index, title) {
                if (confirm("Delete Book : "+title+" ?")) {
                    var app = this;
                    axios.delete('book/delete/' + id)
                         .then(function (resp) {
                            app.allBooks('book');
                            console.log('then : '+resp);
                        })
                        .catch(function (resp) {
                            alert("Could not delete book");
                            console.log(resp);
                        });
                }
            }
        },
    }
</script>