<template>
    <select v-model="category_id" @input="event => { $emit('input', event.target.value) }" class="form-control">
        <option v-for="cat in categories" v-bind:value="cat.id">{{ cat.name }}</option>
    </select>
</template>
<script>
export default{
    props: {
        value: null
    },
    data: function(){
        return {
            categories: [],
            category_id: null
        }
    },
    methods: {
        getCategories(){
            var app = this;
            axios.get('category/all')
                 .then(function(resp){
                    app.categories = resp.data;
                })
                .catch(function(resp){
                    console.log('get categories error : '+resp);
                });
        },
    },
    mounted: function(){
        this.getCategories();
        this.category_id = this.value;
    },
    watch: {
        value: function(newValue){
            this.category_id = newValue;
        }
    }
}
</script>